<section id="emergency">
  <h2>We help you further</h2>
  <p>broken pipe, defective heating or installation of a
new washbasin - we come and help you out.
</p>
<p>Our 24h emergency service will be happy to assist you!</p>
  <button type="button" name="callForm">Call 24 hours emergency number</button>
</section>