<ul id="nums">
  <li class="nums__item"><span>2020</span><span>FOUNDED </span></li>
  <li class="nums__item"><span>5</span><span>TEAM MEMBER</span></li>
  <li class="nums__item"><span>500</span><span>Projects</span></li>
  <li class="nums__item"><span>100%</span><span>HAPPY CLIENTS</span></li>
</ul>