<div id="booking">
  <ul class="booking-menu">
    <li class="booking-menu__item">sanitary /</li>
    <li class="booking-menu__item">heating /</li>
    <li class="booking-menu__item">solar</li>
  </ul>
  <p>The company is a master business, in the 1st generation, which was founded in 2020 in Cologne. Our team of employees is specialized in all modern technologies around plumbing, heating and solar.</p>
  <button type="button">make appointment now</button>
</div>