<footer>
  <h2>BERB</h2>
  <div class="footer-container">
    <div class="footer-contacts">
      <p>Berb is a master business, in the 1st generation, which was founded in 2020 in Cologne.</p>
      <a href="mailto:berb@gmail.com" class="link">berb@gmail.com</a>
      <a href="tel:+49 221 12 12 23 15" class="link">+49 221 12 12 23 15</a>
    </div>
    <nav class="footer-nav">
      <menu class="footer-nav__menu">
        <a href="#" class="link">Instructions</a>
        <a href="#" class="link">Licensing</a>
        <a href="#" class="link">Changelog</a>
        <a href="#" class="link">Styleguide</a>
      </menu>
      <menu class="footer-nav__menu">
        <a href="#" class="link">Home</a>
        <a href="#" class="link">sanitary</a>
        <a href="#" class="link">heating</a>
        <a href="#" class="link">solar</a>
      </menu>
    </nav>
  </div>
</footer>
<div class="subfooter">
  <p>© All rights reserved. Marc Heine. Powered by Webflow</p>
  <div class="subfooter-social">
    <a href="#" class="subfooter-social__item" title="instagram">
      <svg>
        <use xlink:href="/sprites/main-sprite.svg#iconInst"></use>
      </svg>
    </a>
    <a href="#" class="subfooter-social__item" title="twitter">
      <svg>
        <use xlink:href="/sprites/main-sprite.svg#iconTwitter"></use>
      </svg>
    </a>
    <a href="#" class="subfooter-social__item" title="linkedin">
      <svg>
        <use xlink:href="/sprites/main-sprite.svg#iconLinkdin"></use>
      </svg>
    </a>
    <a href="#" class="subfooter-social__item" title="yotube">
      <svg>
        <use xlink:href="/sprites/main-sprite.svg#iconYoutube"></use>
      </svg>
    </a>
    <a href="#" class="subfooter-social__item" title="facebook">
      <svg>
        <use xlink:href="/sprites/main-sprite.svg#iconFacebook"></use>
      </svg>
    </a>
  </div>
</div>
